main {
  flex: 1;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.container {
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2.2rem 2rem;
  color: var(--text-primary-color);
  box-shadow: 2px 2px 10px 0 var(--main-box-shadow),
    inset 2px 2px 5px 0 var(--main-box-shadow-secondary);
  position: relative;  
}

.password-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
  gap: 1rem;
}

.password-header .title {
  font-weight: 500;
  padding: 0.5rem 0;
  flex: 1;
  width: 100%;
  text-align: center;
  border: 1px dashed var(--text-primary-color);
  word-wrap: break-word;
}

button {
  font-weight: 600;
  background-color: var(--extra-color);
  color: var(--button-text-color);
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.char-length {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.char-length span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.char-length span label:nth-child(2) {
  font-weight: 700;
  font-size: 1.5ree;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: var(--secondary-color);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 3px var(--extra-color);
  background: var(--range-color);
  border-radius: 9px;
  border: 2px solid var(--extra-color);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 3px 3px 1px var(--extra-color);
  border: 1px solid var(--extra-color);
  height: 27px;
  width: 18px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--range-color);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 3px var(--extra-color);
  background: var(--range-color);
  border-radius: 9px;
  border: 2px solid var(--extra-color);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 3px 3px 1px var(--extra-color);
  border: 1px solid var(--extra-color);
  height: 27px;
  width: 18px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--range-color);
  border: 2px solid var(--extra-color);
  border-radius: 18px;
  box-shadow: 2px 2px 3px var(--extra-color);
}
input[type="range"]::-ms-fill-upper {
  background: var(--range-color);
  border: 2px solid var(--extra-color);
  border-radius: 18px;
  box-shadow: 2px 2px 3px var(--extra-color);
}
input[type="range"]::-ms-thumb {
  box-shadow: 3px 3px 1px var(--extra-color);
  border: 1px solid var(--extra-color);
  height: 27px;
  width: 18px;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--range-color);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--range-color);
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
}

.checkboxes div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.checkboxes input {
    accent-color: var(--extra-color);
}

.error-message {
  font-size: 16px;
  color: red;
  font-weight: 500;
}

.strength {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.strength span {
  font-weight: 700;
  font-size: 1.2rem;
}

.toggle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
}

.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 24px;
}  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--extra-color);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 23px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-primary-color);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--extra-color);  
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--extra-color);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}