@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f3f1f1;
  --secondary-color: rgb(27, 27, 27);
  --text-primary-color: #ffffff;
  --text-secondary-color: #000;
  --extra-color: seagreen;
  --range-color: #000;
  --header-box-shadow: #525050;
  --main-box-shadow: #525050;
  --main-box-shadow-secondary: #f7f7f7;
  --button-text-color: #fff;
  --transition: .3s ease-in-out;
}

:root .dark {
  --primary-color: rgb(27, 27, 27);
  --secondary-color: #cac8c8;
  --text-primary-color: #000000;
  --text-secondary-color: #e4e2e2;
  --extra-color: rgb(24, 123, 236);
  --range-color: #e0dede;
  --header-box-shadow: #bdbdbd;
  --main-box-shadow: #c2bcbc;
  --main-box-shadow-secondary: #525151;
  --button-text-color: #ffffff;
  --transition: .3s ease-in-out;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}